<!-- CHANGE :: Creat the code for chat box -->
<link rel="stylesheet" href="/css/chat_box.css">
<% if (locals.user){ %>
	<div class="open-button">
		<i class="fa-solid fa-comments fa-4x"></i>
	</div>
	
	<div id="user-chat-box">
		<div id="heading">
			<h3> chat </h3>
			<i class="fa-sharp fa-solid fa-xmark"></i>
		</div>
		
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
<% } %>
