<footer>
     <p> <i class="fa-solid fa-copyright"></i> Coding Ninjas. All Rights Reserved</p>
     <ul>
        <li> 
            <a href="/"> Home</a>
        <li> 
            <a href="/user/profile"> Profie </a>
        </li>
     </ul>
</footer>
