<div>
    <p>
        Hi <%= user %>!
    </p>
    <br>
    <br>
    <p>Please click on link to <a href="http://localhost:8000/user/reset-password?accessToken=<%= acessToken %>">Reset Password</a></p>
    <br>
    <br>
    <p>Thanks!</p>
</div>